@charset "utf-8";

@import "/-css/master_header.css";
@import "/-css/master_footer.css";

:root {
  /* --var: "value" */
}

html {
  font-size: clamp(1rem, 2.5vw, 1.1rem);
}
body {
  margin: auto;
  padding: 0;
  background-color: #222;
  color: #fff;
}

/* 余白の初期化 */
h1, h2, h3, h4, h5, h6, p, pre, figure, ul, dl {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
p {
  line-height: 1.8;
  margin: 1rem 0;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  /* オリジナルサイズより拡大しない */
  max-width: 100%;
  height: auto;
}
::first-letter {
  font-feature-settings: "palt";
}

/* 水平コンテナ */
.hz-container {
  /* width: min(92%, 800px); */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  height: fit-content;
  margin: auto;
  position: relative;
}
